---
- name: Добавить конфигурацию сбора метрик от Node Exporter
  hosts: localhost
  become: yes
  tasks:
    - name: Создать шаблон конфигурации Prometheus
      template:
        src: prometheus.yml.j2
        dest: /etc/prometheus/prometheus.yml
