---
- name: Установить Prometheus
  hosts: localhost
  become: yes
  tasks:
    - name: Создать директории для Prometheus
      file:
        path: "{{ item }}"
        state: directory
      loop:
        - /etc/prometheus
        - /var/lib/prometheus

    - name: Загрузить и распаковать Prometheus
      get_url:
        url: https://github.com/prometheus/prometheus/releases/download/v2.45.0/prometheus-2.45.0.linux-amd64.tar.gz
        dest: /tmp/prometheus.tar.gz
      register: download_prometheus

    - name: Распаковать архив Prometheus
      unarchive:
        src: /tmp/prometheus.tar.gz
        dest: /tmp/
        remote_src: yes
      when: download_prometheus.changed

    - name: Установить Prometheus бинарники
      command: >
        cp -r /tmp/prometheus-2.45.0.linux-amd64/{{ item }} /usr/local/bin/
      loop:
        - prometheus
        - promtool
      notify: Reload Prometheus

    - name: Скопировать конфигурацию Prometheus
      copy:
        src: /tmp/prometheus-2.45.0.linux-amd64/prometheus.yml
        dest: /etc/prometheus/prometheus.yml

    - name: Создать systemd unit файл для Prometheus
      template:
        src: prometheus.service.j2
        dest: /etc/systemd/system/prometheus.service
      notify: Reload Prometheus

    - name: Создать Prometheus пользователя
      user:
        name: prometheus
        shell: /bin/false
        system: yes

    - name: Настроить права доступа к каталогам Prometheus
      file:
        path: "{{ item }}"
        owner: prometheus
        group: prometheus
        recurse: yes
      loop:
        - /etc/prometheus
        - /var/lib/prometheus

  handlers:
    - name: Reload Prometheus
      systemd:
        name: prometheus
        state: restarted
